@model task_final.ViewModels.ProductImageDetailsViewModel
@{
	ViewData["Title"] = "Product Editing";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="ProductEdit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="ProductID" type="hidden" />
			<input asp-for="ImageID" type="hidden" />
			<input asp-for="CategoryName" type="hidden" />
			<div class="form-group">
				<label asp-for="ProductName" class="control-label"></label>
				<input asp-for="ProductName" class="form-control" />
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CategoryID" class="control-label"></label>
				<select asp-for="CategoryID" asp-items="Model.Categories"></select>
				<span asp-validation-for="CategoryID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductDescription" class="control-label"></label>
				<input asp-for="ProductDescription" class="form-control" />
				<span asp-validation-for="ProductDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ProductPrice" class="control-label"></label>
				<input asp-for="ProductPrice" class="form-control" />
				<span asp-validation-for="ProductPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageName" class="control-label"></label>
				<input asp-for="ImageName" class="form-control" />
				<span asp-validation-for="ImageName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ImageBinary" class="control-label"></label>
				<input asp-for="ImageBinary" type="file" accept=".jpg, .jpeg, .png, .gif" value="" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary btn-lg" />
			</div>
		</form>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}