@{
	if (ViewContext.RouteData.Values["action"]?.ToString() == "AccountList") ViewData["list"] = "Account";
	else if (ViewContext.RouteData.Values["action"]?.ToString() == "CategoryList") ViewData["list"] = "Category";
	else if (ViewContext.RouteData.Values["action"]?.ToString() == "ProductList") ViewData["list"] = "Product";
	else if (ViewContext.RouteData.Values["action"]?.ToString() == "ShoppingListList") ViewData["list"] = "Shopping list";
	else if (ViewContext.RouteData.Values["action"]?.ToString() == "ShoppingListDetails") ViewData["list"] = "Shopping product";
	else if (ViewContext.RouteData.Values["action"]?.ToString() == "ShoppingProductAdd") ViewData["list"] = "Product";
	Layout = null;
}
<div class="text-center">
	@ViewData["list"] could not be found.
</div>