@model task_final.ViewModels.ShoppingListProductIDViewModel
@{
	Layout = null;
}
<form asp-action="ShoppingProductAdd">
	<input asp-for=@Model.ShoppingListID type="hidden" />
	<input asp-for="@Model.ProductID" type="hidden" />
	<div class="form-group">
		<input type="submit" value="Add" class="btn btn-primary" />
	</div>
</form>